body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-calculator {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-calculator .form-calculator-heading,
.form-calculator .checkbox {
  margin-bottom: 10px;
}
.form-calculator .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}
.form-calculator .form-control:focus {
  z-index: 2;
}

.form-calculator .btn {
  margin-bottom: 10px;
}

.form-calculator .input,
.form-calculator .output {
  padding: 10px;
  border: 1px solid #ccc;
  font-family: monospace;
  border-radius: 4px;
}
